body {
  margin: 0;
  padding: 1.5rem;
  padding-top: 0;
  font-family: 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: Consolas, 'Courier New',
    monospace;
}

.badge-dot {
  display: inline-block;
  margin-left: 8px;
  width: 8px;
  height: 8px;
  background-color: #dc3545; /* Bootstrap "danger" red */
  border-radius: 50%;
}
